*{
  padding: 0;
  margin: 0;
}

html{

}


body {
  background-image: url("../IMG/bg.png");

}


.meteors {
		position: absolute;
		width: 100%;
		height: 100%;
}
.meteor {
		position: absolute;
		top: 50px;
		left: 280px;
		width: 300px;
		height: 1px;
		-webkit-transform: rotate(-45deg);
		background-image: -webkit-linear-gradient(left, white, rgba(255,255,255,0));
}
.meteor:before {
			content: ' ';
			position: absolute;
			width: 4px;
			height: 5px;
			background-color: white;
			border-radius: 50%;
			box-shadow: 0 0 14px 4px white;
			margin-top: -2px;
}
@-webkit-keyframes meteor {
		0% {
            margin-top: -300px; 
            margin-right: -300px; opacity: 1
    }
		8% {
            opacity: 0
    }
		10% {
            margin-top: 300px; 
            margin-left: -600px; 
            opacity: 0
    }
		100% {
            opacity: 0
    }
}
.meteor:nth-child(1) {
    top: 100px;
    left: 880px;
    -webkit-animation: meteor 8s linear infinite;
}
.meteor:nth-child(2) {
    top: 200px;
    left: 280px;
    -webkit-animation: meteor 14s linear infinite;
}
.meteor:nth-child(3) {
    top: 250px;
    left: 1590px;
    -webkit-animation: meteor 10s linear infinite;
}




.blured{
    width: 100%;
    height: 115px;
    position: fixed;
   background-color:  rgba(0,0,0,.1);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}

.name{
    background-image: url("../IMG/prpt.png");

    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    position: fixed;
    margin-left: 100px;
    margin-top: 10px;

}



.mainmenu{
    position: fixed;
    margin-left: 60%;
    margin-top: 40px;
    font-size: 15pt;

    z-index: 1;
    list-style-type: none;

}

.mainmenu li{
    float: left;
    padding-right: 50px;


}

.mainmenu li a{
    text-decoration: none;
    color: #fff;
    z-index: 1;
}

.mainmenu li a:hover{
    color: #ddd;
}

.mainblock{
    padding-top: 200px;
    padding-left: 200px;
    height: 750px;
}

.mainblock img{
    margin-top: 35px;
    -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;

}

.biotext{
    background-color: rgba(255, 255, 255, .01);
    margin-left: 40%;
    padding: 25px 50px;
    width: 700px;
    height: 700px;
    border-radius: 10%;
    font-size: 15pt;
    color: #ddd;
    position: absolute;
}

.rock{
    position: absolute;
}

.rocket{
    width: 72px;
    height: 106px;
    background-image: url("../IMG/asd.png");
}

.pl{
    margin-left: 21px;
    background-image: url("../IMG/asdpl.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 34px;


    -webkit-animation: fire 1s infinite;
    animation: fire 1s infinite;
}




@-webkit-keyframes fire {
  0% {
    margin-top: 1px;
  }
  50% {
    margin-top: 5px;
  }
  100% {
   margin-top: 1px;
  }
}

@keyframes fire {
  0% {
    margin-top: 1px;
  }
  50% {
    margin-top: 5px;
  }
  100% {
   margin-top: 1px;
  }
}




@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
   -webkit-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01)
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1.015, 1.015);
    transform: scale(1.015, 1.015)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(1.015, 1.015);
    transform: scale(1.015, 1.015)
  }
}
